* {
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
}

html {
    background: url("https://biggulpsupreme.neocities.org/space4.gif");
    height: 1000px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=19387), auto;
}

.notepad {
    position: absolute;
    width: 688px;
    height: 417px;
    transform: translate(0, -175px);
}

#note {
    position: absolute;
    /* transform: translate(0, -175px); */
    z-index: 1;

}

.top-left {
    box-sizing: border-box;
    position: absolute;
    color: black;
    z-index: 2;
    /* top: -120px;
    right: 500px; */
    width: 688px;
    height: 417px;
    /* transform: translate(0, -175px); */
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;

}

.header {
    display: flex;
    justify-content: space-between;

}

.left {
    width: 450px;
    height: 200px;
    margin: auto;
    /* background-color: green; */

}

.left p {
    color: white;
}

#bar {
    width: 100%;
    margin-bottom: 0;
}

#unreg {
    transform: translate(0, -4.5px);
    width: 300px;
    margin-top: 0;
}

#skate {
    width: 120px;
    height: 120px;
    margin-left: 35%;
}

#logo {
    height: 100px;
    width: 430;
    margin-top: 35px;
}

footer {
    display: block;
    width: 300px;
    height: 40px;
    margin: auto;
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
    .notepad {
        position: absolute;
        width: 540px;
        height: 417px;
    }

    #note {
        position: absolute;
        z-index: 1;
        width: 560px;
        height: 417px;
    }

    .top-left {
        box-sizing: border-box;
        position: absolute;
        color: black;
        z-index: 2;
        width: 100%;
        /*688px*/
        height: 100%;
        /*417px*/
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;

    }

}